.Ad .ad {
  box-shadow: 0 0 6px gray;
  border: 2px solid #222;
  width: fit-content;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Caveat", cursive;
  margin: 20px;
}

.Ad .vote {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.Ad .flavor {
  font-family: "Caveat", cursive;
  padding: 5px;
}

.Ad .dark {
  background-color: black;
  color: white;
  border-color: white;
}
